@import "cards";
@import "aside";
@import "btn";
@import "tags";
@import "page";

.d-flex {
    display:flex;
}

.flex-column {
    flex-direction: column;
}

html, body, .app {
    height: 100%;
    width: 100%;
    margin: 0;
}

//height: calc(100% - 18px);

main, .content {
    flex-grow: 1;    
}

aside, .content {
    overflow-y: auto;
}

.content {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}

@media (max-width: 600px) {
    .app {
    flex-direction: column;
        aside {
        overflow-y: visible;
            .aside--info {
            margin-bottom: 20px;
            }
            .aside--filterby {
            display: none;
            }
        } 
    }
}










